<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (operation(); as operationRef) {
      <div>
        <h2 data-cy="operationDetailsHeading"><span jhiTranslate="tmp30App.operation.detail.title">Operation</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ operationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="tmp30App.operation.typeMEG">Type MEG</span></dt>
          <dd>
            <span>{{ operationRef.typeMEG }}</span>
          </dd>
          <dt><span jhiTranslate="tmp30App.operation.codeOffre">Code Offre</span></dt>
          <dd>
            <span>{{ operationRef.codeOffre }}</span>
          </dd>
          <dt><span jhiTranslate="tmp30App.operation.dateEffet">Date Effet</span></dt>
          <dd>
            <span>{{ operationRef.dateEffet | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="tmp30App.operation.contrat">Contrat</span></dt>
          <dd>
            @if (operation()!.contrat) {
              <div>
                <a [routerLink]="['/contrat', operation()!.contrat?.id, 'view']">{{ operationRef.contrat?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/operation', operationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
